<div class="wrapper">
  <div class="controls">
    <div>
      Column width: <mat-slider [max]="100" [min]="30" [step]="2" [thumbLabel]="true" [(ngModel)]="colWidth"></mat-slider>
    </div>
    <div>
      Container height: <mat-slider [max]="500" [min]="100" [step]="5" [thumbLabel]="true" [(ngModel)]="height"></mat-slider>
    </div>
  </div>

  <div class="container smooth" [ngStyle]="getHeight()">
    <div class="col smooth" [ngStyle]="getWidth()"><span class="rotate rotate-up">{{name}}</span></div>
    <div class="content">
      <mat-form-field>
        <input matInput placeholder="Vertical text" [(ngModel)]="name">
      </mat-form-field>
    </div>
    <div class="col smooth" [ngStyle]="getWidth()"><span class="rotate rotate-down">{{name}}</span></div>
  </div>
</div>
