p {
  font-family: Lato;
}

.controls {
  margin: 20px 10px;
}

mat-slider {
  width: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 10px;
  display: flex;
  border: 2px solid rgb(48, 100, 184);
  box-shadow: 3px 3px 20px rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  max-width: 600px;
  min-width: 250px;
  width: 100%;
}

.smooth {
  transition: .3s ease-in-out;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.col {
  background-color: rgb(48, 100, 184);
  width: 40px;
  font-size: 2em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
/* < Required props & classes below {rotate, rotate-up, rotate-down} > */
  position: relative;
}

.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
}

.rotate-up {
   transform: translateX(-50%) translateY(-50%) rotate(-90deg)
}

.rotate-down {
   transform: translateX(-50%) translateY(-50%) rotate(90deg)
}
